.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(164, 138, 138, 0.2);
    z-index: 99999999;
}
.loader-container-small {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(231, 225, 225, 0.06);
    z-index: 9999;
}
.my-dialog .p-dialog {
    z-index: 200 !important;
}
